@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
	src:
		local("Lato Regular"),
		local("Lato-regular"),
		url("fonts/Lato-regular/Lato-regular.woff2") format("woff2"),
		url("fonts/Lato-regular/Lato-regular.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	src:
		local("Lato Bold"),
		local("Lato-700"),
		url("fonts/Lato-700/Lato-700.woff2") format("woff2"),
		url("fonts/Lato-700/Lato-700.woff") format("woff");
}

@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;
	src:
		url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
		url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff");
}

html,
body {
	height: 100%;
}

body {
	background: #455164;
	color: #222;
	font: 16px Lato, sans-serif;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	touch-action: none;

	/**
	  * Disable pull-to-refresh on mobile that conflicts with scrolling the message list.
	  * See http://stackoverflow.com/a/29313685/1935861
	  */
	overflow-y: hidden;
}

a {
	transition: opacity 0.2s;
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

/**
 * From Normalize. See https://github.com/thelounge/lounge/pull/1217
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

h1,
h2,
h3 {
	font: inherit;
	line-height: inherit;
	margin: 0;
}

h1.title {
	margin-bottom: 10px;
}

input {
	outline: 0;
}

button {
	border: none;
	background: none;
	margin: 0;
	outline: none;
	padding: 0;
}

code,
kbd {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace;
}

code {
	font-size: 12px;
	padding: 2px 4px;
	color: #e74c3c;
	background-color: #f9f2f4;
	border-radius: 2px;
}

kbd {
	display: inline-block;
	font-size: 11px;
	line-height: 10px;
	padding: 3px 5px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

.btn {
	border: 2px solid #84ce88;
	border-radius: 3px;
	color: #84ce88;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 9px 17px;
	text-transform: uppercase;
	transition: background 0.2s, border-color 0.2s, color 0.2s;
	word-spacing: 3px;
	cursor: pointer; /* This is useful for `<button>` elements */
}

.btn:disabled,
.btn:hover {
	background: #84ce88;
	color: #fff;
	opacity: 1;
}

.btn:active {
	box-shadow: none;
	opacity: 0.8;
}

.btn:disabled {
	opacity: 0.6;
}

.container {
	margin: 80px auto;
	max-width: 480px;
	touch-action: pan-y;
}

::-moz-placeholder {
	color: rgba(0, 0, 0, 0.35);
	opacity: 1;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.35);
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.35) !important;
}

#js-copy-hack,
#help,
#windows .header .title,
#windows .header .topic,
#chat .messages {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: text;
}

#js-copy-hack {
	position: absolute;
	left: -999999px;
}

#chat #js-copy-hack .condensed:not(.closed) .msg,
#chat #js-copy-hack > .msg {
	display: block;
}

/* Icons */

#viewport .lt::before,
#viewport .rt::before,
#chat button.menu::before,
#sidebar .chan::before,
#chat .title::before,
#footer .icon,
#chat .count::before,
#settings .extra-help,
#settings #play::before,
#form #submit::before,
#chat .invite .from::before,
#chat .join .from::before,
#chat .kick .from::before,
#chat .part .from::before,
#chat .quit .from::before,
#chat .topic .from::before,
#chat .mode .from::before,
#chat .ctcp .from::before,
#chat .whois .from::before,
#chat .nick .from::before,
#chat .action .from::before,
#chat .toggle-button::after,
.context-menu-item::before,
#nick button::before,
#image-viewer .previous-image-btn::before,
#image-viewer .next-image-btn::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit; /* Can't have font-size inherit on line above, so need to override */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#viewport .lt::before { content: "\f0c9"; /* http://fontawesome.io/icon/bars/ */ }
#viewport .rt::before { content: "\f0c0"; /* http://fontawesome.io/icon/users/ */ }
#chat button.menu::before { content: "\f142"; /* http://fontawesome.io/icon/ellipsis-v/ */ }

.context-menu-user::before { content: "\f007"; /* http://fontawesome.io/icon/user/ */ }
.context-menu-chan::before { content: "\f0f6"; /* http://fontawesome.io/icon/file-text-o/ */ }
.context-menu-close::before { content: "\f00d"; /* http://fontawesome.io/icon/times/ */ }

#sidebar .chan.lobby::before,
#chat .lobby .title::before { content: "\f0a0"; /* http://fontawesome.io/icon/hdd-o/ */ }

#sidebar .chan.query::before,
#chat .query .title::before { content: "\f0e6"; /* http://fontawesome.io/icon/comments-o/ */ }

#sidebar .chan.channel::before,
#chat .channel .title::before { content: "\f0f6"; /* http://fontawesome.io/icon/file-text-o/ */ }

#sidebar .chan.special::before,
#chat .special .title::before { content: "\f03a"; /* http://fontawesome.io/icon/list/ */ }

#footer .sign-in::before { content: "\f023"; /* http://fontawesome.io/icon/lock/ */ }
#footer .connect::before { content: "\f067"; /* http://fontawesome.io/icon/plus/ */ }
#footer .settings::before { content: "\f013"; /* http://fontawesome.io/icon/cog/ */ }
#footer .help::before { content: "\f059"; /* http://fontawesome.io/icon/question/ */ }
#footer .sign-out::before { content: "\f011"; /* http://fontawesome.io/icon/power-off/ */ }

#form #submit::before { content: "\f1d8"; /* http://fontawesome.io/icon/paper-plane/ */ }

#chat .invite .from::before {
	content: "\f003"; /* http://fontawesome.io/icon/envelope-o/ */
	color: #2ecc40;
}

#chat .part .from::before,
#chat .quit .from::before {
	content: "\f08b"; /* http://fontawesome.io/icon/sign-out/ */
	color: #ff4136;
	display: inline-block;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#chat .topic .from::before {
	content: "\f0a1"; /* http://fontawesome.io/icon/bullhorn/ */
	color: #2ecc40;
}

#chat .mode .from::before {
	content: "\f05a"; /* http://fontawesome.io/icon/info-circle/ */
	color: #2ecc40;
}

#chat .ctcp .from::before {
	content: "\f0f6"; /* http://fontawesome.io/icon/file-text-o/ */
}

#chat .whois .from::before {
	content: "\f007"; /* http://fontawesome.io/icon/user/ */
	color: #2ecc40;
}

#chat .nick .from::before {
	content: "\f007"; /* http://fontawesome.io/icon/user/ */
	color: #2ecc40;
}

#chat .join .from::before {
	content: "\f090"; /* http://fontawesome.io/icon/sign-in/ */
	color: #2ecc40;
}

#chat .kick .from::before {
	content: "\f05e"; /* http://fontawesome.io/icon/ban/ */
	color: #ff4136;
}

#chat .action .from::before {
	content: "\f005"; /* http://fontawesome.io/icon/star/ */
}

#chat .toggle-button {
	/* These 2 directives are loosely taken from .fa-fw */
	width: 1.35em;
	text-align: center;
}

#chat .toggle-button::after {
	content: "\f0da"; /* http://fontawesome.io/icon/caret-right/ */
}

#chat .count::before {
	color: #cfcfcf;
	content: "\f002"; /* http://fontawesome.io/icon/search/ */
	position: absolute;
	right: 18px;
	font-size: 14px;
	line-height: 50px;
}

#settings .extra-help::before {
	content: "\f059"; /* http://fontawesome.io/icon/question-circle/ */
}

#settings #play::before {
	content: "\f028"; /* http://fontawesome.io/icon/volume-up/ */
	margin-right: 9px;
}

#set-nick::before {
	content: "\f040"; /* http://fontawesome.io/icon/pencil/ */
}

#submit-nick::before {
	content: "\f00c"; /* http://fontawesome.io/icon/check/ */
}

#cancel-nick::before {
	content: "\f00d"; /* http://fontawesome.io/icon/times/ */
}

#image-viewer .previous-image-btn::before {
	content: "\f104"; /* http://fontawesome.io/icon/angle-left/ */
}

#image-viewer .next-image-btn::before {
	content: "\f105"; /* http://fontawesome.io/icon/angle-right/ */
}

/* End icons */

#wrap {
	height: 100%;
	overflow: hidden;
}

#viewport {
	height: 100%;
	transition: transform 160ms, -webkit-transform 160ms;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

#viewport.menu-open {
	-webkit-transform: translate3d(220px, 0, 0);
	transform: translate3d(220px, 0, 0);
}

#viewport.menu-dragging {
	transition: none !important;
}

#viewport.menu-open .messages {
	pointer-events: none;
}

#chat button,
#form button,
#chat .user {
	transition: opacity 0.2s;
}

#chat button:hover,
#form button:hover {
	opacity: 0.6;
}

#viewport .lt,
#viewport .rt,
#chat button.menu {
	color: #ccc;
	display: none;
	float: left;
	font-size: 14px;
	line-height: 1;
	height: 36px;
	margin: 6px 12px 0 -12px;
	width: 36px;
}

#viewport .lt {
	position: relative;
}

/* Notification dot on the top right corner of the menu icon */
#viewport .lt::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 7px;
	background-color: #e74c3c;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid white;
	opacity: 0;
	transition: opacity 0.2s;
}

#viewport .lt.notified::after {
	opacity: 1;
}

#viewport .rt-tooltip {
	float: right;
}

#viewport .rt {
	display: block;
	margin: 6px -12px 0 0;
}

#chat button.menu {
	display: block;
	float: right;
	margin: 6px -8px 0 12px;
}

#viewport.rt #chat .sidebar {
	right: -180px;
}

#sidebar {
	bottom: 48px;
	left: 0;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	width: 220px;
}

#viewport.menu-open #sidebar {
	will-change: transform;
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out {
	border: 1px solid transparent;
	border-radius: 2px;
	color: #99a2b4;
	cursor: pointer;
	font-size: 14px;
}

#sidebar button:hover,
#sidebar .chan:hover,
#sidebar .active {
	color: #fff;
}

#sidebar .networks {
	padding: 20px 30px 0;
	touch-action: pan-y;
}

#sidebar .networks:empty {
	padding: 0;
}

#sidebar .network,
#sidebar .network-placeholder {
	margin-bottom: 30px;
	touch-action: pan-y;
}

#sidebar .empty {
	color: #9ca5b4;
	line-height: 1.6;
	font-size: 12px;
	margin-top: 20px;
	padding: 20px 40px;
	text-align: center;
}

#sidebar .chan,
#sidebar .chan-placeholder {
	display: block;
	margin: 1px -10px;
	padding: 6px 10px 8px 36px;
	position: relative;
	text-align: left;
	transition: color 0.2s;
	width: 180px;
	left: auto !important; /* Fix for drag'n'drop not recalculating left position */
}

#sidebar .chan-placeholder {
	padding-bottom: 10px;
}

#sidebar .chan:first-child {
	color: #84ce88;
	font-size: 15px;
	font-weight: bold;
}

#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active {
	color: #c0f8c3;
}

#sidebar .chan::before,
#chat .title::before {
	float: left;
	margin-top: 3px;
	margin-right: 12px;
	text-align: center;
}

#sidebar .chan::before {
	position: absolute;
	top: 4px;
	left: 10px;
}

#chat .title::before {
	margin-top: 17px;
}

#sidebar .chan .name {
	position: relative;
	z-index: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 5px;
}

#sidebar .chan .name::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20px;
	background: linear-gradient(to right, rgba(69, 81, 100, 0) 0%, rgba(69, 81, 100, 1) 100%);
	content: " ";
}

#sidebar .badge {
	background: rgba(255, 255, 255, 0.06);
	border-radius: 3px;
	color: #afb6c0;
	font-size: 10px;
	margin-top: 1px;
	margin-right: -5px;
	margin-left: 5px;
	padding: 3px 6px;
	float: right;
	transition: opacity 0.2s, background-color 0.2s, color 0.2s;
}

#sidebar .badge.highlight {
	background: #fff;
	color: #49505a;
}

#sidebar .chan.active .badge,
#sidebar .badge:empty {
	opacity: 0;
}

#sidebar .close {
	border-radius: 3px;
	margin-right: 5px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 2;
	right: 0;
	transition: opacity 0.2s, background-color 0.2s;
}

#sidebar .close::before {
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	line-height: 18px;
	width: 18px;
	height: 18px;
	text-align: center;
	content: "×";
	color: #fff;
}

#sidebar .chan.active .close {
	visibility: visible;
	opacity: 0.4;
}

#sidebar .chan.active .close:hover {
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 1;
}

#sidebar .tse-scrollbar {
	top: 2px;
	right: 3px;
}

#footer {
	background: rgba(0, 0, 0, 0.06);
	bottom: 0;
	height: 45px;
	left: 0;
	font-size: 14px;
	line-height: 45px;
	position: absolute;
	text-align: center;
	width: 220px;
}

#footer button.active {
	color: #fff;
}

#footer .icon {
	color: #9ca5b4;
	display: inline-block;
	line-height: 34px;
	padding: 0 12px;
	transition: color 0.2s;
}

#footer .icon:hover {
	color: #fff;
}

.signed-out #footer .sign-in {
	display: inline-block;
}

.signed-out #footer .connect,
.signed-out #footer .sign-out {
	display: none;
}

.public #footer .sign-in,
.public #footer .sign-out {
	display: none;
}

#footer .sign-in {
	display: none;
}

#main {
	bottom: 0;
	left: 220px;
	position: absolute;
	right: 0;
	top: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.signed-out #main {
	left: 0; /* Hide the sidebar when user is signed out */
}

#header {
	display: none;
	height: 40px;
	position: absolute;
	top: 0;
	width: 100%;
}

#windows label,
#settings .error {
	font-size: 14px;
}

#windows .input {
	background-color: white;
	border: 1px solid #cdd3da;
	border-radius: 2px;
	color: #222;
	font-size: 14px;
	margin: 2px 0;
	margin-bottom: 10px;
	outline: 0;
	padding: 8px 10px;
	transition: border-color 0.2s;
	width: 100%;
}

#windows select.input {
	height: 35px;
}

#user-specified-css-input {
	resize: vertical;
}

#windows .input:hover,
#windows .input:focus {
	border-color: #79838c;
}

#windows .window {
	background: #fff;
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#windows .window h1 {
	font-size: 36px;
}

#windows .window h2 {
	border-bottom: 1px solid #7f8c8d;
	color: #7f8c8d;
	font-size: 22px;
	margin: 30px 0 10px;
	padding-bottom: 7px;
}

#windows .window h3 {
	color: #7f8c8d;
	font-size: 18px;
	margin: 20px 0 10px;
}

#windows .active {
	display: block;
}

#windows .header {
	border-bottom: 1px solid #e7e7e7;
	line-height: 48px;
	height: 48px;
	padding: 0 20px;
	overflow: hidden;
}

#windows .header .title {
	font-size: 15px;
}

#windows .header .topic {
	color: #777;
	margin-left: 8px;
	word-break: break-all;
}

#windows .window .header {
	display: none;
}

#chat-container,
#chat .chan {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#windows #chat-container.active {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#chat {
	position: relative;
	overflow: hidden;
	-webkit-flex: 1;
	flex: 1;
}

#chat .chan {
	display: none;
}

#chat .chan.active {
	display: block;
}

#chat .condensed {
	flex-wrap: wrap;
}

#chat .condensed .content {
	flex: 1;
}

/* Ensures expanded status messages always take up the full width */
#chat .condensed .msg {
	flex-basis: 100%;
}

#chat .condensed-summary .content {
	display: block;
	cursor: pointer;
	transition: opacity 0.2s;
}

#chat .condensed-summary {
	display: none;
}

#chat.condensed-status-messages .condensed-summary {
	display: flex;
}

#chat .condensed-summary:hover {
	opacity: 0.6;
}

#chat .condensed-summary .toggle-button:hover {
	opacity: 1;
}

#chat.condensed-status-messages .condensed.closed .msg {
	display: none;
}

#chat .condensed-summary .time {
	visibility: hidden;
}

#windows .header .topic,
.messages .msg,
.sidebar {
	font: 13px Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace;
	line-height: 1.4;
}

#windows #chat .header {
	display: block;
}

#chat .chat,
#chat .sidebar {
	top: 48px;
}

#chat .chat {
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	will-change: transform, scroll-position;
	-webkit-overflow-scrolling: touch;
	position: absolute;
}

#chat .channel .chat {
	right: 180px;
}

#chat .special {
	bottom: -47px;
}

#viewport.rt .chat {
	right: 0;
}

#chat .sidebar {
	background: #fff;
	border-left: 1px solid #e7e7e7;
	bottom: 0;
	position: absolute;
	right: 0;
	width: 180px;
	transition: right 0.4s;
	touch-action: pan-y;
}

#chat .show-more {
	display: none;
	padding: 10px;
	padding-bottom: 0;
	width: 100%;
}

#chat .show-more-button {
	background: #f4f4f4;
	background-image: linear-gradient(#f4f4f4, #ececec);
	border: 1px solid #d7d7d7;
	border-bottom-color: #b7b7b7;
	border-radius: 2px;
	color: #555;
	font-size: 12px;
	height: 34px;
	line-height: 0;
	width: 100%;
}

#chat .show-more-button:hover {
	opacity: 1;
}

#chat .messages {
	padding: 10px 0;
	touch-action: pan-y;
}

#chat .msg {
	word-wrap: break-word;
	word-break: break-word; /* Webkit-specific */
	display: flex;
	overflow: hidden;
	position: relative;
}

#chat .unread-marker {
	position: relative;
	text-align: center;
	margin: 0 10px;
	z-index: 0;
	font-weight: bold;
	font-size: 12px;
}

#chat .unread-marker::before {
	position: absolute;
	z-index: -1;
	content: "";
	left: 0;
	right: 0;
	top: 50%;
	border-top: 1px solid rgba(231, 76, 60, 0.5);
}

#chat .unread-marker-text::before {
	content: "New messages";
	background-color: white;
	color: rgba(231, 76, 60, 0.5);
	padding: 0 10px;
}

#chat .unread-marker:last-child {
	display: none;
}

#chat .date-marker {
	position: relative;
	text-align: center;
	margin: 0 10px;
	z-index: 0;
	font-weight: bold;
	font-size: 12px;
}

#chat .date-marker::before {
	position: absolute;
	z-index: -1;
	content: "";
	left: 0;
	right: 0;
	top: 50%;
	border-top: 1px solid rgba(0, 107, 59, 0.5);
}

#chat .date-marker-text::before {
	content: attr(data-label);
	background-color: white;
	color: rgba(0, 107, 59, 0.5);
	padding: 0 10px;
}

.inline-channel {
	cursor: pointer;
}

.inline-channel:hover {
	opacity: 0.6;
}

#chat .time,
#chat .from,
#chat .content {
	padding: 2px 0;
	flex: 0 0 auto;
}

#chat .time {
	color: #ddd;
	padding-left: 10px;
}

#chat .from {
	border-right: 1px solid #f6f6f6;
	color: #b1c3ce;
	padding-right: 10px;
	text-align: right;
	width: 134px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

#chat .content {
	flex: 1 1 auto;
	min-width: 0;
}

#loading a,
#chat .special .time,
#chat .special .from {
	display: none;
}

#chat a {
	color: #50a656;
}

/* Nicknames */

#chat .user {
	cursor: pointer;
	color: #50a656;
}

#chat .user:hover {
	opacity: 0.6;
}

#chat.colored-nicks .user.color-1 { color: #1396cf; }
#chat.colored-nicks .user.color-2 { color: #ffcf89; }
#chat.colored-nicks .user.color-3 { color: #00dc5f; }
#chat.colored-nicks .user.color-4 { color: #ff5bc8; }
#chat.colored-nicks .user.color-5 { color: #ff0e1b; }
#chat.colored-nicks .user.color-6 { color: #000094; }
#chat.colored-nicks .user.color-7 { color: #006441; }
#chat.colored-nicks .user.color-8 { color: #00566e; }
#chat.colored-nicks .user.color-9 { color: #ff0078; }
#chat.colored-nicks .user.color-10 { color: #15d5a3; }
#chat.colored-nicks .user.color-11 { color: #006b3b; }
#chat.colored-nicks .user.color-12 { color: #00c5ba; }
#chat.colored-nicks .user.color-13 { color: #00465b; }
#chat.colored-nicks .user.color-14 { color: #ffafce; }
#chat.colored-nicks .user.color-15 { color: #ff3b12; }
#chat.colored-nicks .user.color-16 { color: #16cc6a; }
#chat.colored-nicks .user.color-17 { color: #ff0072; }
#chat.colored-nicks .user.color-18 { color: #ff5877; }
#chat.colored-nicks .user.color-19 { color: #ff1753; }
#chat.colored-nicks .user.color-20 { color: #007a56; }
#chat.colored-nicks .user.color-21 { color: #095092; }
#chat.colored-nicks .user.color-22 { color: #000bde; }
#chat.colored-nicks .user.color-23 { color: #00bca9; }
#chat.colored-nicks .user.color-24 { color: #00367d; }
#chat.colored-nicks .user.color-25 { color: #009ec4; }
#chat.colored-nicks .user.color-26 { color: #006119; }
#chat.colored-nicks .user.color-27 { color: #008bb8; }
#chat.colored-nicks .user.color-28 { color: #469c00; }
#chat.colored-nicks .user.color-29 { color: #ff0f95; }
#chat.colored-nicks .user.color-30 { color: #ff7615; }
#chat.colored-nicks .user.color-31 { color: #ff4846; }
#chat.colored-nicks .user.color-32 { color: #ff199b; }

#chat .content {
	padding-left: 10px;
	padding-right: 6px;
}

#chat .self .text {
	color: #999;
}

#chat .msg.channel_list_loading .text {
	color: #999;
	font-style: italic;
	padding-left: 20px;
}

#chat .msg.channel_list_truncated .text {
	color: #f00;
	padding-left: 20px;
}

#chat table.channel-list,
#chat table.ban-list {
	margin: 5px 10px;
	width: calc(100% - 30px);
}

#chat table.channel-list th,
#chat table.ban-list th,
#chat table.channel-list td,
#chat table.ban-list td {
	padding: 5px;
	vertical-align: top;
	border-bottom: #eee 1px solid;
}

#chat table.channel-list .channel {
	width: 80px;
}

#chat table.channel-list .channel,
#chat table.channel-list .topic,
#chat table.ban-list .hostmask,
#chat table.ban-list .banned_by,
#chat table.ban-list .banned_at {
	text-align: left;
}

#chat table.channel-list .users {
	text-align: center;
	width: 50px;
}

#chat table.channel-list td.channel .inline-channel {
	color: #428bca;
}

#chat table.channel-list td {
	color: #555;
}

#chat.hide-status-messages .condensed,
#chat.hide-motd .motd {
	display: none !important;
}

#chat .condensed .content,
#chat .join .content,
#chat .kick .content,
#chat .mode .content,
#chat .nick .content,
#chat .part .content,
#chat .quit .content,
#chat .topic .content,
#chat .topic_set_by .content {
	color: #999;
}

#chat .action .from,
#chat .action .text,
#chat .action .user {
	color: #f39c12;
}

#chat .notice .time,
#chat .notice .text,
#chat .chan .notice .user {
	color: #0074d9 !important;
}

#chat .notice .user::before {
	content: "Notice: ";
}

#chat .error,
#chat .error .from,
#chat .channel .highlight .from,
#chat .channel .highlight .text,
#chat .channel .highlight .user {
	color: #f00;
}

#chat .toggle-button {
	display: inline-block;
	transition: opacity 0.2s, transform 0.2s;
}

#chat .toggle-button.opened, /* Thumbnail toggle */
#chat .msg.condensed:not(.closed) .toggle-button { /* Expanded status message toggle */
	transform: rotate(90deg);
}

#chat .toggle-content {
	background: #f5f5f5;
	border-radius: 2px;
	display: none;
	color: #222;
	font-size: 12px;
	max-width: 100%;
	margin: 2px 0;
	overflow: hidden;
}

#chat .toggle-content img {
	max-width: 100%;
	max-height: 128px;
	display: block;
}

#chat .toggle-content .thumb {
	max-width: 48px;
	max-height: 32px;
}

#chat .toggle-thumbnail {
	padding: 6px;
}

#chat .toggle-text {
	padding: 6px;
	min-width: 0;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	color: inherit;
}

#chat .toggle-text:not(:first-child) {
	padding-left: 0;
}

#chat .toggle-content .head,
#chat .toggle-content .body {
	text-overflow: ellipsis;
	overflow: hidden;
	color: inherit;
}

#chat .toggle-content .head {
	font-weight: bold;
}

#chat .toggle-content .body {
	color: #999;
}

#chat .toggle-content.show {
	display: inline-flex !important;
}

/* Do not display an empty div when there are no previews. Useful for example in
part/quit messages where we don't load previews (adds a blank line otherwise) */
#chat .preview:empty {
	display: none;
}

#chat .count {
	background: #fafafa;
	height: 48px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#chat .search {
	color: #222;
	border: 0;
	background: none;
	font: inherit;
	outline: 0;
	padding: 18px 16px;
	position: relative;
	width: 100%;
}

#chat .names {
	bottom: 0;
	overflow: auto;
	overflow-x: hidden;
	will-change: transform, scroll-position;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 10px;
	position: absolute;
	top: 48px;
	width: 100%;
	touch-action: pan-y;
}

#chat .names-filtered {
	display: none;
}

#chat .names .user {
	display: block;
	line-height: 1.6;
	padding: 0 16px;
}

#chat .user-mode::before {
	content: "";
	border-bottom: 1px solid #eee;
	display: block;
	line-height: 1.6;
	padding: 12px 16px 10px;
	margin-bottom: 10px;
}

#chat .user-mode.owner::before {
	content: "Owners";
}

#chat .user-mode.admin::before {
	content: "Administrators";
}

#chat .user-mode.op::before {
	content: "Operators";
}

#chat .user-mode.half-op::before {
	content: "Half-Operators";
}

#chat .user-mode.voice::before {
	content: "Voiced";
}

#chat .user-mode.normal::before {
	content: "Users";
}

#chat .user-mode-search::before {
	content: "Search Results";
}

#loading {
	font-size: 14px;
	z-index: 1;
}

#loading p {
	margin-top: 10px;
}

#loading-slow {
	display: none;
}

#sign-in label {
	display: block;
	margin-top: 10px;
}

#sign-in .btn {
	margin-top: 25px;
}

#sign-in .error {
	color: #e74c3c;
	margin-top: 1em;
}

#connect label {
	display: block;
	margin-top: 11px;
}

#connect .port::before {
	content: ":";
	margin: 9px 0 0 -17px;
	position: absolute;
}

#connect .tls {
	float: left;
	font-size: 14px;
	margin-top: 6px;
}

#connect .tls input {
	float: left;
	margin: 3px 10px 0 0;
}

#connect .btn {
	float: left;
	margin-top: 30px;
}

#settings .opt {
	display: block;
	padding: 5px 0 5px 1px;
}

#settings .opt input {
	margin-right: 6px;
}

#settings .extra-help,
#settings #play {
	color: #7f8c8d;
}

#settings .extra-help {
	cursor: help;
}

#settings h2 .extra-help {
	font-size: 0.8em;
}

#settings #play {
	font-size: 14px;
	transition: opacity 0.2s;
}

#settings #play:hover {
	opacity: 0.8;
}

#settings #change-password .error,
#settings #change-password .success {
	margin-bottom: 1em;
}

#settings #change-password .error {
	color: #e74c3c;
}

#settings #change-password .success {
	color: #2ecc40;
}

#settings .error {
	color: #e74c3c;
	margin-top: 0.2em;
}

#help .help-item {
	display: table-row;
}

#help .help-item .subject,
#help .help-item .description {
	display: table-cell;
	font-size: 14px;
	padding-bottom: 15px;
}

#help .help-item .subject {
	white-space: nowrap;
	padding-right: 15px;
}

#help .help-item .description p {
	margin-bottom: 0;
}

#help .about {
	font-size: 14px;
	line-height: 1.8;
}

#form {
	background: #eee;
	border-top: 1px solid #ddd;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 5px;
}

#windows #form .input {
	font: 13px Consolas, Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin: 0;
	padding: 0;
	background: white;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

#connection-error {
	display: none;
}

#connection-error.shown {
	display: block;
}

[contenteditable]:focus {
	outline: none;
}

/* Nick editor */

#form #nick {
	background: #f6f6f6;
	color: #666;
	font: inherit;
	font-size: 11px;
	margin: 4px;
	line-height: 22px;
	height: 24px;
	padding-left: 9px;
	padding-right: 5px;
	border-radius: 2px;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	border: 1px solid transparent;
	transition: border-color 0.2s;
}

#form #nick-value {
	padding-right: 5px;
}

#form #nick.editable {
	border-color: black;
}

#nick button#set-nick,
#nick button#submit-nick,
#nick button#cancel-nick {
	color: #aaa;
	width: 18px;
}

#nick.editable button#set-nick,
#nick.editable #set-nick-tooltip,
#nick button#submit-nick,
#nick:not(.editable) #save-nick-tooltip,
#nick button#cancel-nick,
#nick:not(.editable) #cancel-nick-tooltip {
	display: none;
}

#nick.editable button#submit-nick,
#nick.editable button#cancel-nick {
	display: inline-block;
}

/* End nick editor */

#form #input {
	background: transparent;
	border: none;
	font: inherit;
	min-height: 18px; /* Required when computing input height at char deletion */
	height: 18px;
	max-height: 90px;
	line-height: 1.4;
	outline: none;
	margin: 5px;
	padding: 0;
	resize: none;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	align-self: center;
	touch-action: pan-y;
}

#form #submit {
	color: #9ca5b4;
	font-size: 14px;
	height: 32px;
	transition: opacity 0.2s;
	width: 32px;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}

#context-menu-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: transparent;
}

#context-menu,
.textcomplete-menu {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 160px;
	font-size: 14px;
	background-color: #fff;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}

.context-menu-divider {
	height: 1px;
	margin: 6px 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.context-menu-item,
.textcomplete-item {
	cursor: pointer;
	display: block;
	padding: 4px 8px;
	color: #333;
	margin-top: 6px;
	margin-bottom: 6px;
	line-height: 1.4;
	transition: background-color 0.2s;
}

.context-menu-item:hover,
.textcomplete-item:hover,
.textcomplete-menu .active {
	background-color: #f6f6f6;
	transition: none;
}

.context-menu-item::before,
.textcomplete-item::before {
	width: 20px;
	display: inline-block;
}

.textcomplete-item a {
	color: #333;
}

.textcomplete-item a:hover {
	opacity: 1;
}

.emoji {
	display: inline-block;
	font-size: 1.4em;
	vertical-align: bottom;
	line-height: 1;
}

.topic .emoji {
	vertical-align: middle;
}

.textcomplete-item .emoji {
	width: 32px;
	text-align: center;
}

.textcomplete-item .irc-bg {
	display: block;
}

/**
  * Tooltips v0.5.3
  * See http://primercss.io/tooltips/
  */

.tooltipped {
	position: relative;
}

.tooltipped::after {
	position: absolute;
	z-index: 1000000;
	display: none;
	padding: 5px 8px;
	font: 12px Lato;
	line-height: 1.2;
	-webkit-font-smoothing: subpixel-antialiased;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: break-word;
	white-space: pre;
	pointer-events: none;
	content: attr(aria-label);
	background: #222;
	border-radius: 3px;
	opacity: 0;
}

.tooltipped::before {
	position: absolute;
	z-index: 1000001;
	display: none;
	width: 0;
	height: 0;
	color: #fff;
	pointer-events: none;
	content: "";
	border: 5px solid transparent;
	opacity: 0;
}

@-webkit-keyframes tooltip-appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes tooltip-appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
	display: inline-block;
	text-decoration: none;
	-webkit-animation-name: tooltip-appear;
	animation-name: tooltip-appear;
	-webkit-animation-duration: 0.1s;
	animation-duration: 0.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.tooltipped-no-delay:hover::before,
.tooltipped-no-delay:hover::after,
.tooltipped-no-delay:active::before,
.tooltipped-no-delay:active::after,
.tooltipped-no-delay:focus::before,
.tooltipped-no-delay:focus::after {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.tooltipped-s::after,
.tooltipped-se::after,
.tooltipped-sw::after {
	top: 100%;
	right: 50%;
	margin-top: 5px;
}

.tooltipped-s::before,
.tooltipped-se::before,
.tooltipped-sw::before {
	top: auto;
	right: 50%;
	bottom: -5px;
	margin-right: -5px;
	border-bottom-color: #222;
}

.tooltipped-se::after {
	right: auto;
	left: 50%;
	margin-left: -15px;
}

.tooltipped-sw::after {
	margin-right: -15px;
}

.tooltipped-n::after,
.tooltipped-ne::after,
.tooltipped-nw::after {
	right: 50%;
	bottom: 100%;
	margin-bottom: 5px;
}

.tooltipped-n::before,
.tooltipped-ne::before,
.tooltipped-nw::before {
	top: -5px;
	right: 50%;
	bottom: auto;
	margin-right: -5px;
	border-top-color: #222;
}

.tooltipped-ne::after {
	right: auto;
	left: 50%;
	margin-left: -15px;
}

.tooltipped-nw::after {
	margin-right: -15px;
}

.tooltipped-s::after,
.tooltipped-n::after {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.tooltipped-w::after {
	right: 100%;
	bottom: 50%;
	margin-right: 5px;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.tooltipped-w::before {
	top: 50%;
	bottom: 50%;
	left: -5px;
	margin-top: -5px;
	border-left-color: #222;
}

.tooltipped-e::after {
	bottom: 50%;
	left: 100%;
	margin-left: 5px;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.tooltipped-e::before {
	top: 50%;
	right: -5px;
	bottom: 50%;
	margin-top: -5px;
	border-right-color: #222;
}

@media
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.tooltipped-w::after {
		margin-right: 4.5px;
	}
}

/* End tooltips */

/**
  * IRC Message Styling
  * https://github.com/megawac/irc-style-parser
  * Colours are credit to http://clrs.cc/
  */
.irc-fg0 { color: #fff; }

.irc-fg1 { color: #000; }

.irc-fg2 { color: #001f3f; }

.irc-fg3 { color: #2ecc40; }

.irc-fg4 { color: #ff4136; }

.irc-fg5 { color: #85144b; }

.irc-fg6 { color: #b10dc9; }

.irc-fg7 { color: #ff851b; }

.irc-fg8 { color: #ffdc00; }

.irc-fg9 { color: #01ff70; }

.irc-fg10 { color: #39cccc; }

.irc-fg11 { color: #7fdbff; }

.irc-fg12 { color: #0074d9; }

.irc-fg13 { color: #f012be; }

.irc-fg14 { color: #aaa; }

.irc-fg15 { color: #ddd; }

.irc-bg0 { background: #fff; }

.irc-bg1 { background: #000; }

.irc-bg2 { background: #001f3f; }

.irc-bg3 { background: #2ecc40; }

.irc-bg4 { background: #ff4136; }

.irc-bg5 { background: #85144b; }

.irc-bg6 { background: #b10dc9; }

.irc-bg7 { background: #ff851b; }

.irc-bg8 { background: #ffdc00; }

.irc-bg9 { background: #01ff70; }

.irc-bg10 { background: #39cccc; }

.irc-bg11 { background: #7fdbff; }

.irc-bg12 { background: #0074d9; }

.irc-bg13 { background: #f012be; }

.irc-bg14 { background: #aaa; }

.irc-bg15 { background: #ddd; }

.irc-bold {
	font-weight: bold;
}

.irc-underline {
	text-decoration: underline;
}

.irc-italic {
	font-style: italic;
}

@media (min-width: 480px) {
	/* Fade out for long usernames */

	#chat .from {
		padding-left: 10px;
	}

	#chat .from::after {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 10px;
		height: 100%;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
		content: " ";
	}

	/* End fade out for long usernames */
}

@media (max-width: 768px) {
	/**
	  * TODO Replace this with `@media (hover: hover)` when Firefox supports it
	  * See:
	  * - http://stackoverflow.com/a/28058919/1935861
	  * - http://caniuse.com/#feat=css-media-interaction
	  * - https://www.w3.org/TR/mediaqueries-4/
	  * - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
	  */
	.tooltipped-no-touch:hover::before,
	.tooltipped-no-touch:hover::after {
		visibility: hidden;
		opacity: 0;
	}

	.container {
		margin-top: 60px !important;
	}

	#sidebar,
	#footer {
		left: -220px;
	}

	#sidebar .empty::before {
		margin-top: 0;
	}

	#main {
		left: 0;
	}

	#chat .chat {
		right: 0;
	}

	#viewport .lt,
	#viewport .channel .rt {
		display: block;
	}

	#windows .window .header {
		display: block;
	}

	#chat .channel .chat {
		right: 0;
	}

	#chat .sidebar {
		right: -180px;
	}

	#viewport.rt #chat .sidebar {
		right: 0;
	}

	#chat .title::before {
		display: none;
	}
}

@media (min-width: 1610px) {
	#windows .header .topic,
	.messages .msg,
	.sidebar {
		font-size: 14px;
	}
}

@media (max-width: 479px) {
	.container {
		margin: 40px 0 !important;
	}

	#connect .tls {
		margin: 20px 0;
	}

	#windows .input {
		margin-bottom: 2px;
	}

	#chat .messages {
		display: block;
		padding: 5px 10px;
	}

	#chat .msg {
		display: block;
		padding: 2px 0;
	}

	#chat .time,
	#chat .from,
	#chat .content {
		border: 0;
		display: inline;
		padding: 0;
	}

	#chat .condensed .time,
	#chat .condensed .from {
		display: none;
	}

	#chat .date-marker,
	#chat .unread-marker {
		margin: 0;
	}

	#help .help-item .subject {
		display: inline-block;
		padding-bottom: 4px;
	}

	#help .help-item .description {
		display: block;
	}
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.6);
}

/* Image viewer */

#image-viewer,
#image-viewer .close-btn {
	/* Vertically and horizontally center stuff */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#image-viewer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
	z-index: 999;
}

#image-viewer.opened {
	visibility: visible;
	opacity: 1;
}

#image-viewer .close-btn,
#image-viewer .previous-image-btn,
#image-viewer .next-image-btn {
	position: fixed;
	top: 0;
	width: 2em;
	font-size: 36px;
	color: white;
	opacity: 0.6;
	transition: 0.2s opacity;
}

#image-viewer .close-btn {
	right: 0;
	height: 2em;
	z-index: 1002;
}

#image-viewer .close-btn::before {
	content: "×";
}

#image-viewer .previous-image-btn,
#image-viewer .next-image-btn {
	bottom: 0;
	z-index: 1001;
}

#image-viewer .previous-image-btn {
	left: 0;
}

#image-viewer .next-image-btn {
	right: 0;
}

#image-viewer .close-btn:hover,
#image-viewer .previous-image-btn:hover,
#image-viewer .next-image-btn:hover {
	opacity: 1;
}

#image-viewer .image-link {
	margin: 10px;
}

#image-viewer .image-link:hover {
	opacity: 1;
}

#image-viewer .image-link img {
	max-width: 100%;

	/* Top/Bottom margins + button height + image/button margin */
	max-height: calc(100vh - 2 * 10px - 37px - 10px);
}

#image-viewer .open-btn {
	margin: 0 auto 10px;
}

/* Correctly handle multiple successive whitespace characters.
   For example: user has quit ( ===> L   O   L <=== )  */

#windows .header .topic,
#chat .message .text,
#chat .motd .text,
#chat .notice .text,
#chat .ctcp-message,
#chat .part-reason,
#chat .quit-reason,
#chat .new-topic,
#chat .action .text,
#chat table.channel-list .topic {
	white-space: pre-wrap;
}
